@import '../../styles/_variables';

.listDays{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.dayComplexes{
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0;

  @media screen and (min-width: $break-point-small){
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1% 30px;
  }

  &Item{
    position: relative;
    width: 92%;
    display: flex;
    margin: 0 auto 20px;
    background-color: $primary-light-color;
    box-shadow: 5px 10px 20px $silver-chalice-color;

    @media screen and (min-width: $break-point-small){
      width: 48%;
      margin: 0 1% 20px;
    }

    @media screen and (min-width: $break-point-large){
      width: 30%;
    }
  }
}

.custom{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  &Link{
    width: 90%;
    min-height: 40px;
    padding: 7px 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    transition: all 0.2s ease-in 0.1s;

    @media screen and (min-width: $break-point-small) {
      width: 80%;
    }

    @media screen and (min-width: $break-point-middle){
      width: 20%;
    }

    &:hover{
      background-color: $turquoise-blue-color;
      box-shadow: 5px 10px 20px $silver-chalice-color;
      color: $primary-light-color;
    }
  }

  @media screen and (min-width: $break-point-middle) {
    justify-content: flex-end;
  }
}