@import '../../styles/_variables';

.orderBtn {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 5px;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 4px 20px;
  border-radius: 30px;
  text-decoration: none;
  color: $primary-light-color;
  font-size: 18px;
  font-weight: bold;
  background-color: $japanese-laurel-color;
  transition: background-color 0.2s ease-in;

  @media screen and (min-width: $break-point-extra-small){
    bottom: 20px;
  }

  &:hover{
    background-color: $camarone-color;
  }
}