@import '../../styles/_variables';

.header{
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  min-height: 60px;
  background: $primary-dark-color;
  z-index: 10;

  &Content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menuWrapper {
  display: none;

  @media screen and (min-width: $break-point-large){
    display: block;
  }
}

.search {
  margin-left: 5px;

  @media screen and (min-width: $break-point-middle){
    margin-left: 0;
  }
}

.basket {
  margin-left: 5px;

  @media screen and (min-width: $break-point-middle){
    margin-left: 0;
  }
}

.burger {
  margin-left: 5px;

  @media screen and (min-width: $break-point-small){
    margin-left: 0;
  }
}