@import '../../styles/_variables';

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media screen and(min-width: $break-point-large){
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-bottom: 30px;
  }

  &Dropdown{
      margin-bottom: 20px;

    @media screen and(min-width: $break-point-small){
     margin-left:  20px;

      &:first-child{
        margin-left: 0;
      }
    }

    @media screen and(min-width: $break-point-large){
      margin-bottom: 0;
    }
  }
}