@import '../../styles/_variables';

.burger{

  &BtnOpen, &BtnClose{
    width: 20px;
    height: 20px;

    @media screen and (min-width: $break-point-small){
      width: 30px;
      height: 30px;
    }

    @media screen and (min-width: $break-point-middle){
      width: 40px;
      height: 40px;
    }
  }

  &BtnOpen{
    background: url('./images/close.svg') no-repeat;
    background-size: cover;
  }

  &BtnClose{
    background: url('./images/burger.svg') no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: $break-point-large){
    display: none;
  }
}