@import '../../styles/_variables';

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;

  @media screen and (min-width: $break-point-extra-small){
    font-size: 1rem;
  }

  &Info {
    display: inline-block;
    width: 20px;
    padding: 0 2px;
    text-align: center;

    @media screen and (min-width: $break-point-extra-small){
      width: 30px;
      padding: 0 5px;
    }
  }

  &Basket {
    display: block;
    width: 33px;
    height: 33px;
    cursor: pointer;
    margin-left: 5px;
    background: url('./images/cart.svg') no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    @media screen and (min-width: $break-point-extra-small){
      margin-left: 10px;
    }

    @media screen and (min-width: $break-point-small){
      margin-left: 15px;
    }
    &:hover {
     opacity: 1;
    }
  }

  &Btn {
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid black;
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: $anakiwa-color;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;

      &:hover {
        background: transparent;
      }
    }
  }
}