@import '../../styles/_variables';

.subMenu{
  list-style-type: none;
  padding: 15px 0;

  @media screen and (min-width: $break-point-large){
    width: 200px;
    padding: 18px 0 0;
  }

  &Item{
    position: relative;
    padding: 4px 20px;
    background: $primary-dark-color;
    transition: all 0.3s linear;

    @media screen and (min-width: $break-point-large){
     background: $silver-chalice-color;
    }

    &::after{
      position: absolute;
      content: '';
      width: 90%;
      height: 1px;
      bottom: 0;
      left: 5%;
      background: $alto-color;
    }

    &:last-child{

      @media screen and (min-width: $break-point-large){
        &:after{
          display: none;
        }
      }
    }

    &:hover{
      background: $alto-color;
    }
  }
}

.menuLink{
  display: block;
  text-decoration: none;
  color: $primary-light-color;
}