//Colors
$anakiwa-color          :  #B0E7FF;
$alto-color             :  #D3D3D3;
$asphalt-color          :  #170808;
$camarone-color         :  #005700;
$cornflower-blue-color  :  #6195ED;
$fire-color             :  #FF0000;
$japanese-laurel-color  :  #008800;
$primary-dark-color     :  #000;
$primary-light-color    :  #FFF;
$silver-color           :  #808080;
$silver-chalice-color   :  #AAA;
$tundora-color          :  #444444;
$turquoise-blue-color   :  #57D7F0;
$wild-sand-color        :  #F5F5F5;

//Break points
$break-point-extra-small    : 380px;
$break-point-before-small   : 480px;
$break-point-small          : 640px;
$break-point-before-middle  : 890px;
$break-point-middle         : 980px;
$break-point-large          : 1024px;
$break-point-extra-large    : 1280px;