@import './_variables';

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', 'Roboto', sans-serif;
  line-height: 1.2;

  @media screen and (min-width: $break-point-extra-large){
    line-height: 1.5;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.content {
  padding-top: 60px;

  @media screen and (min-width: $break-point-large){
    padding-bottom: 88px;
    min-height: 100vh;
  }
}