.listMeal{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 640px){
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
  }

  &Item{
    position: relative;
    width: 98%;
    margin: 0 auto 25px;
    border: 1px solid grey;
    border-radius: 0 0 35px;
    box-shadow: 5px 5px 11px lightgrey;

    @media screen and (min-width: 640px){
      margin: 0 1% 25px;
      width: 48%;
    }

    @media screen and (min-width: 980px){
      width: 31%;
    }

    @media screen and (min-width: 1024px){
      width: 23%;
    }
  }
}