@import '../../styles/_variables';

.listGoods{
  list-style-type: none;
  margin: 0;
  padding: 0;

  &Title{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 14px;
    text-align: center;
  }
}


.emptyBasket{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}