@import '../../styles/_variables';

.logo {
  display: inline-block;
  color: $primary-light-color;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size: 0.9rem;

  @media screen and (min-width: $break-point-small){
    font-size: 1.1rem;
  }

  @media screen and (min-width: $break-point-large){
    font-size: 1.4rem;
  }

  &Title{
    color: $turquoise-blue-color;
  }
}