.logo {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size: 0.9rem;

  @media screen and (min-width: 640px){
    font-size: 1.1rem;
  }

  @media screen and (min-width: 1024px){
    font-size: 1.4rem;
  }

  &Title{
    color: #57D7F0;
  }
}