@import '../../styles/_variables';

.menuNavItem{
  position: relative;
  display: block;
  padding: 0 15px;
  background: $primary-dark-color;
  text-transform: capitalize;
  transition: all 0.5s ease-in;



  @media screen and (min-width: $break-point-large){
    display: inline-block;
    background: transparent;

    &::before {
      position: absolute;
      content: '';
      width: 2px;
      height: 14px;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotate(10deg);
      background: $alto-color;
    }

    &:first-child::before{
      display: none;
    }
  }
}
.subMenu{
  position: static;
  transition: all 0.2s ease-in 0.2s;
  z-index: 2;

  @media screen and (min-width: $break-point-large){
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
  }
}

.menuNavItem:hover{
  @media screen and (min-width: $break-point-large){
    .subMenu{
      display: block;
    }
  }
}

.menuNavLink{
  display: block;
  text-decoration: none;
  color: $primary-light-color;
  transition: all ease-in 0.3s;

  &:hover{
    color: $cornflower-blue-color;
  }

  @media screen and (min-width: 1024px){
    display: inline-block;
    color: $alto-color;
  }

  &Active{
    color: $cornflower-blue-color;

    @media screen and (min-width: $break-point-large){
      color: $primary-light-color;
    }
  }
}