@import '../../styles/_variables';

.footer {
  display: flex;
  background-color: $primary-dark-color;
  padding: 10px;
  min-height: 88px;
  align-items: center;
  flex-direction: column;


  @media screen and (min-width: $break-point-large){
    margin-top: -88px;
  }

  &CopyRight{
    color: $primary-light-color;
    padding: 15px 10px 0;
    margin: 0;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
  }
}

.menu {
  margin: 0;
  padding: 0;

  @media screen and (min-width: $break-point-small){
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Item{
    padding: 4px 5px;
    border-bottom: 1px solid $alto-color;
    text-align: center;

    @media screen and (min-width: $break-point-small){
      padding: 0 15px;
      border-bottom: none;
    }
  }

  &Link{
    text-decoration: none;
    color: $alto-color;
    text-transform: capitalize;
    transition: color 0.2s ease-in;

    &Active{
      color: white;
    }

    &:hover{
      color: $cornflower-blue-color;
    }
  }
}